output/
run/lists/
src/Makefile.in
src/aclocal.m4
src/autom4te.cache/
src/compile
src/config.guess
src/config.sub
src/configure
src/depcomp
src/install-sh
src/ltmain.sh
src/missing
macros/trigcounts
run/*.sub
macros/make_*_wrap.sh
run/rm_condor.sh
run/run_temp.C
temp/
rootfiles/
macros/condorhist/*.sub
macros/compzhistmaker/*.sub